// Fonts
@import url("https://fonts.googleapis.com/css?family=Metrophobic:300,400,600");
@import "node_modules/font-awesome/scss/font-awesome.scss";

/**
    Original bootstrap
  */
// Variables
//@import "variables";
// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";

/**
    Bootswatch
 */
// Variables
@import "node_modules/bootswatch/lumen/_variables";

// Mixins
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Bootswatch
@import "node_modules/bootswatch/lumen/_bootswatch";

// Bootstrap
@import "node_modules/bootswatch/lumen/bootstrap";

* {
    font-family: Metrophobic, sans-serif;
}
//html, body {
//    background-color: #fff;
//    color: #636b6f;
//    font-family: 'Metrophobic', sans-serif;
//    font-weight: 100;
//    height: 100vh;
//    margin: 0;
//}
//
//.full-height {
//    height: 100vh;
//}
//
//.flex-center {
//    align-items: center;
//    display: flex;
//    justify-content: center;
//}
//
//.position-ref {
//    position: relative;
//}
//
//.top-right {
//    position: absolute;
//    right: 10px;
//    top: 18px;
//}
//
//.content {
//    text-align: center;
//}
//
//.title {
//    font-size: 36px;
//}
//
//.links > a {
//    color: #636b6f;
//    padding: 0 25px;
//    font-size: 12px;
//    font-weight: 600;
//    letter-spacing: .1rem;
//    text-decoration: none;
//    text-transform: uppercase;
//}
//
//.m-b-md {
//    margin-bottom: 30px;
//}

// Logo margin in header
.depaul-brand {
    margin: 5px;
}

.social {
    padding: 0em .5em;
    font-size: 1.75em;
    text-align: center;
    text-decoration: none;
}

/* legend */
.legend { list-style: none; }

.legend li {
    float: left;
    margin-right: 10px;
}

.legend span {
    border-radius: 3px;
    float: left;
    width: 15px;
    height: 15px;
    margin: 2px;
}

/* colors */
.legend .volunteer { background-color: #ff7f00; }
.legend .reunion { background-color: #053D63; }
.legend .community { background-color: #7f3f00; }
.legend .signed-up { background-color: #009900; }

hr.posts {
    height: 10px;
    border: 0 solid #e7e7e7;
    border-top-width: 1px;
    border-radius: 5px;
}

hr.posts:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border: 0 solid #e7e7e7;
    border-bottom-width: 1px;
    border-radius: 5px;
}

.required:after{
    content:'*';
    color:red;
    padding-left:5px;
}

//Carousel Properties
.carousel {
    border: 4px #e7e7e7;
    border-radius: 4px;
    overflow: hidden;
}
.carousel .left > span,
.carousel .right > span {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.carousel .right > span {
    left: auto;
    right: 20px;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.50);
    max-width: 100%;
    width:100%;
    left: 0;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-inner {
    background-color: #f8f8f8;
}
